<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../public/lib/loadsh.js"></script>
    <script src="../public/lib/jquery-3.4.1.js"></script>
</head>
<body>

<div class="container">
    <div>
        <form class="form-inline my-2 my-lg-0" onsubmit="return false;">
            <input class="form-control mr-sm-2" type="search" id="search-input" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="search-btn">Search</button>
        </form>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">    
        <!-- <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span></a>

        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>

        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span></a>             -->
        </ul>
    </nav>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">電子郵箱</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
        </tr>
        </thead>
        <tbody id="t_content">
        <tr>
            <td>154</td>
            <td>林林七87</td>
            <td>sss@gmail.com</td>
            <td>0999991233</td>
            <td>1997-05-05</td>
            <td>高雄市</td>
        </tr>




        </tbody>
    </table>


</div>

<script>
    // ---------------------------------------------------------
    const pagination = $('.pagination');
    const t_content = $('#t_content');
    const pagination_str = `
            <li class="page-item <%= active %>">
                <a class="page-link" href="#/<%= i %>/<%= keyword %>"><%= i %></a>
            </li>
        `;
    const table_row_str = `
        <tr>
                <td><%- sid %></td>
                <td><%- name %></td>
                <td><%- email %></td>
                <td><%- mobile %></td>
                <td><%- birthday %></td>
                <td><%- address %></td>
            </tr>
        `;

    const pagination_fn = _.template(pagination_str);
    const table_row_fn = _.template(table_row_str);
    let ori_data;
    let ori_keyword = '';
    // ---------------------------------------------------------
    //固定作法 定義後監聽
    const myHashChange =  function(){
        console.log(location.hash)
        // url從第2格開始切，模擬前端，/之後的井字及斜線去除
        // 從第二個開始抓
        let hash = location.hash.slice(2)
        // 斜線做分割
        let hash_ar = hash.split('/')
        // 判斷有沒有第一格
        let page, keyword
        // 頁碼
        if(hash_ar[0]){
            // 頁數轉換成整數(數字)
            page = parseInt(hash_ar[0])
        }
        // 關鍵字搜尋不用轉整數(數字)
        if(hash_ar[1]){
            keyword = hash_ar[1]
        }
        // 反饋頁數(page)及關鍵字(keyword)
        console.log({page, keyword})

        // 用上方訊息組裝成要發fetch出去的方式
        let url = `/address-book/`
        if(page){url += `${page}`
            if(keyword){url += `${keyword}`}
    }
    // 只要改變#hash就會連動到此，到這邊就會發fetch出去
        console.log(url)

    // 這邊範例都是以get為主
    fetch(url)
    .then(response=>{
        // 回來的格式是json
        return response.json()
    })
        // 到這裡拿到的是一個obj
        .then(obj=>{
            // 進來這裡時，先清除頁面上的畫面
            pagination.html('');
            t_content.html('');
            // 處理的地方，之前先在上方宣告一個全域變數來裝 (ori_data)
            ori_data = obj
            for(let i=0; i<=obj.totalPage; i++){
                let active = i===obj.page ? 'active' : '';
                pagination.append(pagination_fn({i:i, active:active}));
                }

        }) 
    // 偵測轉頁訊息
    window.addEventListener('hashchange',myHashChange)
    
    myHashChange()

</script>


</body>
</html>